import React, { PureComponent } from 'react';
//import PropTypes from 'prop-types';
//import classnames from 'classnames';
import './../../BaseComponents/Base/Base.scss';
import './BComponent.scss';

const propTypes = {}
const defaultProps = {}

export default class BComponent extends PureComponent {
    render() {
        return (
            <div>
                BComponent
            </div>
        );
    }
}

BComponent.propTypes = propTypes;
BComponent.defaultProps = defaultProps;
